
.site-head {
    min-width: 1152px;
    height: 150px;
}

.site-head .topbar {
    min-width: 1152px;
    height: 32px;
    background-color: #2A2A2A;
    line-height: 32px;
}

.site-head .topbar a {
    color: white;
}

.site-head .topbar .shortcut-links {
    float: left;
}

.site-head .topbar .shortcut-links > ul > li {
    float: left;
    margin-right: 18px;
    font-size: 14px;
}